*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

.element{
    opacity: 0;
    visibility: hidden;
    transform: translateY(30px);
    transition: opacity 1s, visibility 1s, transform 1s;
}

.is-fadein{
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
}

body{
    background-color: #fffadf;
    font-family: 'TsukuARdGothic-Regular','ヒラギノ丸ゴ ProN','Hiragino Maru Gothic ProN',YuGothic,'Yu Gothic','ヒラギノ角ゴシック','Hiragino Sans',sans-serif;
}

p{
    color: #585d37;
    line-height: 2;
    letter-spacing: 0.1em;
    font-size: 18px;
}

h2,h3{
    color: #585d37;
    letter-spacing: 0.1em;
}

h2{
    font-size: 30px;
}

.header{
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 3;
    width: 100%;
    padding: 10px 50px;
    height: 65px;
    transition: 0.5s;
    background-color: #fff;
    opacity: 0.9;
}

.headertop{
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 3;
    width: 100%;
    padding: 10px 50px;
    height: 65px;
    transition: 0.5s;
}

.header.hide{
    transform: translateY(-65px);
}

.header h1{
    color: #585d37;
    line-height: 45px;
    text-align: center;
}

.headertop h1{
    color: #333;
    line-height: 45px;
    text-align: center;
}

.navlist{
    height: 45px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navlist li{
    padding: 0 30px;
}

.navlist li a{
    color: #585d37;
    display: inline-block;
    position: relative;
}

.headertop .navlist li a{
    color: #333;
}

li a::after {
    position: absolute;
    bottom: -10px;
    left: 0;
    content: '';
    width: 100%;
    height: 2px;
    background: #8f9435;
    visibility: hidden;
    transition: 0.3s;
  }
li a:hover::after {
    visibility: visible;
    bottom: -3px;
    opacity: 1;
  }

.nav_toggle{
    opacity: 0;
    display: none;
}



/* headerのレスポンシブ */
@media(max-width:900px){
    .header h1{
        font-size: 20px;
    }

    .navlist li{
        padding: 0 10px;
    }

    .navlist li a{
        font-size: 15px;
    }
}
@media(max-width:600px){

    .nav_toggle {
        opacity: 1;
        visibility: visible;
        display: block;
        position: relative;
        width: 1.75rem;
        height: 1.5rem;
        margin-top: 10px;
      }
      .nav_toggle i {
        display: block;
        width: 100%;
        height: 2px;
        background-color: #333;
        position: absolute;
        transition: transform .5s, opacity .5s;
      }
      .nav_toggle i:nth-child(1) {
        top: 0;
      }
      .nav_toggle i:nth-child(2) {
        top: 0;
        bottom: 0;
        margin: auto;
      }
      .nav_toggle i:nth-child(3) {
        bottom: 0;
      }
    
      .nav_toggle.show i:nth-child(1) {
        transform: translateY(10px) rotate(-45deg);
      }
      .nav_toggle.show i:nth-child(2) {
        opacity: 0;
      }
      .nav_toggle.show i:nth-child(3) {
        transform: translateY(-12px) rotate(45deg);
      }
    
      .nav {
        position: fixed;
        top: 3rem;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 1rem;
        opacity: 0;
        visibility: hidden;
        transition: opacity .5s, visibility .5s;
        z-index: 99;
        background-color: #eee;
        height: 100vh;
      }  
    
      .nav.show {
        opacity: 1;
        visibility: visible;
      }

      .navlist{
          height: 100vh;
          flex-wrap: wrap;
      }

      .navlist li{
          width: 100vw;
          text-align: center;
      }
}


.top{
    position: relative;
}

svg{
    position: absolute;
    bottom: 0;
    height: 16vh;
    width: 100vw;
    z-index: 3;
}

.slider{
    position: relative;
    z-index: 1;
    height: 100%;
}

.slider-item01{
    background-image: url(/images/topimage01.gif);
}

.slider-item02{
    background-image: url(/images/topimage02.png);
}

.slider-item03{
    background-image: url(/images/topimage03.png);
}

.slider-item04{
    background-image: url(/images/topimage04.png);
}

.slider-item{
    width: 100%;
    height: 90vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.toptitle{
    width: 35%;
    position: absolute;
    top: 45%;
    left: 51%;
    z-index: 2;
    transform: translate(-50%, -50%);
}

.toptitle img{
    width: 100%;
}

.scroll{
    width: 100%;
    height: 80px;
    position: relative;
}

/*=== 9-1-2 丸が動いてスクロールを促す ====*/

/*スクロールダウン全体の場所*/
.scrolldown2{
    /*描画位置※位置は適宜調整してください*/
	position: absolute;
	top: 40px;
	left:50%;
    z-index: 5;
}

/*Scrollテキストの描写*/
.scrolldown2 span{
    /*描画位置*/
	position: absolute;
	left:10px;
	bottom:10px;
    /*テキストの形状*/
	color: #585d37;
	font-size: 0.7rem;
	letter-spacing: 0.05em;
	/*縦書き設定*/
	-ms-writing-mode: tb-rl;
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
}

/* 丸の描写 */
.scrolldown2:before {
    content: "";
    /*描画位置*/
    position: absolute;
    bottom:0;
    left:-4px;
    /*丸の形状*/
	width:10px;
	height:10px;
	border-radius: 50%;
	background:#585d37;
    /*丸の動き1.6秒かけて透過し、永遠にループ*/
	animation:
		circlemove 2s ease-in-out infinite,
		cirlemovehide 2s ease-out infinite;
}

/*下からの距離が変化して丸の全体が上から下に動く*/
@keyframes circlemove{
      0%{bottom:45px;}
     100%{bottom:-5px;}
 }

/*上から下にかけて丸が透過→不透明→透過する*/
@keyframes cirlemovehide{
      0%{opacity:0}
     50%{opacity:1;}
    80%{opacity:0.9;}
	100%{opacity:0;}
 }

/* 線の描写 */
.scrolldown2:after{
	content:"";
    /*描画位置*/
	position: absolute;
	bottom:0;
	left:0;
    /*線の形状*/
	width:2px;
	height: 50px;
	background:#585d37;
}



.about{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.left{
    width: 55%;
}

.leftimg{
    width: 60%;
    margin: 0 auto;
}

.leftimg img{
    width: 100%;
}
.left p{
    /* text-align: center; */
    margin: 0 auto;
    margin-top: 100px;
    width: 74%;
}

.right{
    width: 45%;
}

.right img{
    width: 100%;
}

/* aboutのレスポンシブ */
@media(max-width:600px){
    .left{
        width: 100%;
    }

    .right{
        width: 100%;
        margin-top: 80px;
        padding-left: 15%;
    }
}


.rule{
    display: flex;
    width: 100%;
    flex-wrap: wrap-reverse;
    align-items: center;
    padding-top: 100px;
}

.left2{
    width: 45%;
    padding-top: 200px;
}

.left2 img{
    width: 100%;
}

.right2{
    width: 55%;
    padding-right: 30px;
}

.right2img{
    width: 80%;
    margin: 0 auto;
}

.right2img img{
    width: 100%;
}

.right2 p{
    font-size: 18px;
}

.right2desc{
    width: 70%;
    margin: 0 auto;
}

.first{
    width: 80%;
    margin: 50px auto;
}

.second{
    margin-bottom: 50px;
}

/* ruleのレスポンシブ */
@media(max-width:600px){
    .left2{
        width: 100%;
        padding-top: 50px;
        padding-right: 15%;
    }

    .right2{
        width: 100%;
        padding-right: 0;
    }
}


.sort{
    display: flex;
    padding-top: 100px;
    flex-wrap: wrap;
    align-items: center;
}

.left3{
    width: 45%;
    padding-left: 50px;
}

.left3img{
    width: 90%;
    margin: 80px auto;
}

.left3img img{
    width: 100%;
}

.left3desc{
    width: 70%;
    margin: 50px auto;
}

.kazu{
    width: 90%;
    margin: 0 auto;
}

.ji{
    width: 60%;
    margin: 0 auto;
}

.sort h2{
    text-align: center;
    margin: 20px 0;
}

.haiwhole{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.kazuhai{
    width: 30%;
}

.jihai{
    width: 45%;
}

.haicontent img{
    width: 100%;
}

.haicontent h3{
    text-align: center;
    margin-top: 20px;
}

.right3{
    width: 55%;
}

/* sortのレスポンシブ */
@media(max-width:600px){
    .left3{
        width: 100%;
        padding-left: 0;
    }

    .right3{
        width: 100%;
    }
}


.goal{
    display: flex;
    padding-top: 50px;
    flex-wrap: wrap-reverse;
    align-items: center;
}

.left4{
    width: 45%;
}

.left4 img{
    width: 100%;
}

.right4{
    width: 55%;
    padding-right: 50px;
}

.right4img{
    width: 80%;
    margin: 0 auto;
}

.right4img img{
    width: 100%;
}

.right4desc{
    width: 70%;
    margin: 50px auto;
}

/* goalのレスポンシブ */
@media(max-width:600px){
    .left4{
        width: 100%;
        margin-top: 50px;
        padding-right: 15%;
    }

    .right4{
        width: 100%;
        padding-right: 0;
    }
}


.set{
    padding-top: 150px;
}

.title{
    width: 50%;
    margin: 0 auto;
}

.title img{
    width: 100%;
}

.setdesc{
    width: 500px;
    margin: 50px auto 80px;
}

.setwhole{
    width: 80%;
    margin: 0 auto;
}

.setcontent{
    width: 100%;
    margin-bottom: 80px;
}

.setcontent h2{
    text-align: center;
    margin-bottom: 30px;
}

.setimg{
    width: 100%;
    margin-bottom: 30px;
}

.setimg img{
    width: 100%;
}

.setcontentdesc{
    width: 60%;
    margin: 0 auto;
}

.setcontentdesc p{
    font-size: 18px;
}

/* setのレスポンシブ */
@media(max-width:600px){
    .set{
        padding-top: 100px;
    }

    .title{
        width: 80%;
    }

    .setdesc{
        width: 70%;
    }

    .setcontentdesc{
        width: 85%;
    }
}


.footer{
    background-color: #8f9435;
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
    align-items: center;
}

.footerleft{
    width: 50%;
    padding-top: 20px;
    padding-left: 30px;
}

.footerlist{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footerlist li a{
    color: #585d37;
}

.footerright{
    width: 20%;
}

.footerright h1{
    color: #585d37;
    text-align: center;
}

/* footerのレスポンシブ */
@media(max-width:1200px){
    .footerleft{
        width: 60%;
    }

    .footerright{
        width: 40%;
    }
}

@media(max-width:600px){
    .footerleft{
        width: 50%;
    }
    
    .footerright{
        width: 50%;
    }

    .footerlist li{
        width: 100%;
        padding: 5px 0;
    }
}